# Outputs
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
dist/

# IDEs
.idea/

# Misc
node_modules/
npm-debug.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# npm pack file
angular-mat-baum-*.tgz

# playground
src/playground.ts
