# Outputs
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

# IDEs
.idea/

# Misc
node_modules/
npm-debug.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# npm pack file
angular-mat-baum-1.0.0-beta.1.tgz
