// Import library functions for theme creation.
@use '@angular/material' as mat;

@mixin <%= selector %>-bottom-sheet-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  <%= selector %> {
    div.container {

    }
  }
}
