// Import library functions for theme creation.
@import '~@angular/material/theming';

@mixin <%= selector %>-bottom-sheet-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  <%= selector %> {
    div.container {

    }
  }
}
