@mixin <%= prefix %>-layout-container-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  <%= prefix %>-layout {
    div.layout-container {

    }
  }
}
