:host {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.layout-container {
  mat-sidenav-container {
    flex: 1;

    mat-sidenav {
      width: 267px;
    }

    mat-sidenav-content {
      div.layout-content {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
